{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">About QuickHeal</h2>
  <div>
    <h2>🌟 Who We Are</h2>
    <p><b>QuickHeal</b> is an online doctor appointment booking platform designed to make healthcare access simple, fast, and reliable.
Our goal is to connect patients with qualified doctors through a secure and easy-to-use system.</p>
<h2>🎯 Our Mission</h2>
    <p>Our mission is to reduce waiting time in hospitals and simplify the appointment process by providing a digital solution that benefits both patients and doctors.</p>
    <h2>👁️ Our Vision</h2>
    <p>To build a trusted healthcare platform where patients can easily find doctors, book appointments, and receive quality medical consultation with transparency and efficiency.</p>
    <h2>🩺 What We Do</h2>
    <ul>
        <li>Easy doctor appointment booking</li>
        <li>Verified doctor profiles with specialization details</li>
        <li>Doctor approval and appointment management system</li>
        <li>Secure user authentication and role-based access</li>
    </ul>
    <h2>👥 Who Can Use QuickHeal</h2>
    <ul>
        <li><b>Patients</b> – Book and track appointments easily</li>
        <li><b>Doctors</b> – Manage appointments and patient requests</li>
        <li><b>Admins</b>– Add and manage doctors and platform data</li>
    </ul>
  </div>
</div>
{% endblock %}
