{% extends "base.html" %}
{% block content %}
{% if appointments %}

    <h4 class="text-center">My Appointments</h4>

    <table class="table table-bordered table-striped text-center">

        <thead class="table-dark">
            <tr>
                <th>S.No</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Time</th>
                <th>Booking Time</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for data in appointments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.doctor.name }}</td>
                <td>{{ data.date }}</td>
                <td>{{ data.time }}</td>
                <td>{{data.created_at}}</td>
                <td>{{ data.status }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% else %}
<h1>  No appointment founded</h1>
{% endif %}


{% endblock content %}
