{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-4">
            <h3>Register</h3>
            {% include "message.html" %}

            <div class="my-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="form-label">Full Name:</label>
                        <input type="text" class="form-control" name="name">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Username:</label>
                        <input type="text" class="form-control" name="username">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Email:</label>
                        <input type="email" class="form-control" name="email">
                    </div>

                    <!-- ✅ FIXED NAME -->
                    <div class="form-group">
                        <label class="form-label">Date Of Birth:</label>
                        <input type="date" class="form-control" name="date_of_birth">
                    </div>

                    <!-- ✅ FILE UPLOAD WORKS -->
                    <div class="form-group">
                        <label class="form-label">Profile:</label>
                        <input type="file" class="form-control" name="image">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Mobile:</label>
                        <input type="text" class="form-control" name="mobile">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="password_confirm">
                    </div>

                    <div class="my-3 d-flex justify-content-end">
                        <button type="submit"  class="btn btn-primary">Register</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
